# Created by .ignore support plugin (hsz.mobi)
target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

moss-ui/node_modules/

### BUILD ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
bin/
out/
.DS_Store
/*/target
target

