# Created by .ignore support plugin (hsz.mobi)
target
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

moss-ui/node_modules/
./logs

### BUILD ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
bin/
out/
.DS_Store
/*/target
target

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
moss-ui/node_modules
moss-ui/npm-debug.log*
moss-ui/yarn-error.log
moss-uiyarn.lock
moss-ui/package-lock.json

# production
moss-ui/dist
dist.zip

# misc
.DS_Store

# umi
.umi
.umi-production
