spring:
  datasource:
    url: jdbc:mysql://mysql1.dev.scsite.net:3306/sofadashboarddb?useUnicode=true&characterEncoding=utf8&useSSL=false
    username: root
    password: dpjA8Z6XPXbvos
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20