<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" >
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<springProperty scope="context" name="logDir" source="logging.moss.path" defaultValue="logs"/>
	<springProperty scope="context" name="app.name" source="spring.application.name"/>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</layout>
	</appender>
	<appender name="SYSTEM_ERROR_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logDir}/${app.name}_error.log</File>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logDir}/history/${app.name}_error.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="SYSTEM_INFO_FILE"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logDir}/${app.name}_info.log</File>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logDir}/history/${app.name}_info.%d{yyyy-MM-dd}.%i</fileNamePattern>
			<maxHistory>7</maxHistory>
			<maxFileSize>10MB</maxFileSize>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${FILE_LOG_PATTERN}</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<logger name="de.codecentric.boot.admin.registry" level="OFF" />
	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SYSTEM_ERROR_FILE" />
		<appender-ref ref="SYSTEM_INFO_FILE" />
	</root>
</configuration>